@*@model IEnumerable<YdGorev.Models.EF.BasvuranPersoneller>*@

@{
    ViewBag.Title = "Başvuru Bilgileri Düzenleme Ekranı";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div ng-controller="BasvuranPersonellerCtrl">
    <div class="table-responsive p-0">
        <table class="table align-items-center mb-0 table-bordered table-hover table-responsive">
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Adı
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Soyadı
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    T.C. Kimlik No.
                </th>
            </tr>
            <tr ng-repeat="x in Data">
                <td>
                    {{x.Adi}}
                </td>

                <td>
                    {{x.Soyadi}}

                </td>
                <td>
                    {{x.TCKN}}

                </td>
            </tr>
        </table>
    </div>
</div>
